<div class="fc_left" style="background:#f0f9fd; width:187px; overflow:hidden; float:left;height:auto;min-height:600px;">
    <div class="lefttop"><span></span>微往联盟</div>
    <dl class="leftmenu">
        <dd>
            <div class="title">
                <span><img src="__adminPublic__/images/leftico01.png" /></span>账号管理
            </div>
            <ul class="menuson">
                <li <?php if($nav_name=="hongbao"){echo "class='active'";}?> ><cite></cite><a href="{:U('Admin/RedPacket/index')}">红包管理</a><i></i></li>
                <li <?php if($nav_name=="hongbao"){echo "class='active'";}?> ><cite></cite><a href="{:U('Admin/RedPacket/index')}">支付管理</a><i></i></li>
            </ul>
        </dd>
    </dl>
    <dl class="leftmenu">
        <dd>
            <div class="title">
                <span><img src="__adminPublic__/images/leftico01.png" /></span>红包管理
            </div>
            <ul class="menuson">
                <li <?php if($nav_name=="redpacket"){echo "class='active'";}?> ><cite></cite><a href="{:U('Admin/RedPacket/index')}">红包管理</a><i></i></li>
            </ul>
        </dd>
    </dl>
     <dl class="leftmenu">
        <dd>
            <div class="title">
                <span><img src="__adminPublic__/images/leftico01.png" /></span>支付管理
            </div>
            <ul class="menuson">
                <li <?php if($nav_name=="hongbao"){echo "class='active'";}?> ><cite></cite><a href="{:U('Admin/RedPacket/index')}">支付管理</a><i></i></li>
            </ul>
        </dd>
    </dl>
</div>